nav{
    background-color: lightpink;
    color: darkgray;
    height: 30px;
    display: block;
    text-align: right;
    padding: 5px;
    padding-top: 10px;
}

.navButton{
    width: 200px;
    height: 30px;
    display: inline-block;
    text-align: center;
    color: white;
    border-radius: 5px red;
}

.bodySection{
    display: block;
}

.left{
    background-color: tomato;
    width: 20%;
    float: left;
    height: 400px;
}

.topleft{
    background-color: violet;
}

.bottomleft{
    background-color: thistle;
}

.right{
    width: 80%;
    float: right;
    background-color: teal;
    height: 400px;
}

.sunsetimg{
    height: 100%;
    object-fit: cover;
}

h1{
    text-align: center;
}

body{
    font-family: 'Akaya Telivigala', cursive;
}

.carousel{
    display: inline-block;
    text-align: center;
}

.card{
    width: 200px;
    background-color: lightblue;
    margin-left: auto;
    margin: 0 auto;
    text-align: center;
    padding: 35px;
    display: inline-block;
  }
